[Unit]
Description=LSB: Raise network interfaces.
Before=multi-user.target shutdown.target
After=network.target dbus.service systemd-sysusers.service
Conflicts=shutdown.target

[Service]
Type=oneshot
IgnoreSIGPIPE=no
RemainAfterExit=yes
ExecStart=/usr/local/bin/networking-service start
ExecStop=/usr/local/bin/networking-service stop
ExecReload=/usr/local/bin/networking-service reload

[Install]
WantedBy=multi-user.target
