[Unit]
Description=LSB: Raise network interfaces.
Wants=network.target
Before=network.target multi-user.target shutdown.target
After=dbus.service network-pre.target systemd-sysusers.service
Conflicts=shutdown.target

[Service]
Type=oneshot
IgnoreSIGPIPE=no
RemainAfterExit=yes
ExecStart=/usr/local/bin/networking-service start
ExecStop=/usr/local/bin/networking-service stop
ExecReload=/usr/local/bin/networking-service reload

[Install]
WantedBy=multi-user.target
