#! /bin/sh

set -e

IPTABLES=/sbin/iptables

clear() {
    $IPTABLES -t filter -F FORWARD
    $IPTABLES -t nat -F PREROUTING
    $IPTABLES -t nat -F POSTROUTING
}

# IP routing config. Sets up rules for routed packets (FORWARD chain, i.e. packets routed through the box, rather than originating or ending up on it)

# See how we were called.
case "$1" in

  start)
        echo "Starting IP routing (forwarding with NAT/masquerading)"
        echo 1 >/proc/sys/net/ipv4/ip_forward
        echo 1 >/proc/sys/net/ipv6/conf/all/forwarding
        modprobe ipt_MASQUERADE

        clear

        # NAT/Masquerading for packets going into the internet
        $IPTABLES -t nat -A POSTROUTING -o {{outgoing_interface}} -j MASQUERADE
        # forward any outgoing packets, as well as any incoming packets belonging to an existing connection
        $IPTABLES -t filter -P FORWARD DROP
        $IPTABLES -t filter -A FORWARD -i {{lanif_name}} -o {{lanif_name}} -j ACCEPT
        $IPTABLES -t filter -A FORWARD -i {{lanif_name}} -o {{outgoing_interface}} -j ACCEPT
        $IPTABLES -t filter -A FORWARD -i {{outgoing_interface}} -o {{lanif_name}}  -m state --state 'ESTABLISHED,RELATED' -j ACCEPT

      {% for pm in port_mappings %}
        {# Destination IP+port rewriting for incoming packets. #}
        {# The corresponding source address rewriting (to {{outgoing_interface}}'s IP) for the outgoing packets is set up by the POSTROUTING rule above. See also https://www.netfilter.org/documentation/HOWTO/NAT-HOWTO-6.html#ss6.1 / Masquerading #}
        $IPTABLES -t nat -A PREROUTING -p {{pm.proto}} --dport {{pm.port}} -i {{outgoing_interface}} -j DNAT --to {{pm.destip}}:{{pm.destport}}
        {# Let the incoming packets through the FORWARD chain. Needed because the default policy of the FORWARD chain is DROP, which is a good idea #}
        $IPTABLES -t filter -A FORWARD -i {{outgoing_interface}} -p {{pm.proto}} --destination {{pm.destip}} -m {{pm.proto}} --destination-port {{pm.destport}} -j ACCEPT
      {% endfor %}
        
        ;;

  stop)
        echo -n "Stopping routing"

        clear

        echo 0 >/proc/sys/net/ipv4/ip_forward
        echo 0 >/proc/sys/net/ipv6/conf/all/forwarding
        ;;

  status)
        echo '>>> table "nat":'
        $IPTABLES -t nat -vL
        ;;

  restart|reload)
        ;;
  *)
        echo "Usage: myrouting {start|stop|status|restart|reload}"
        exit 1
esac

exit 0
