### Specific to building Armbian ###
/.vagrant/
ubuntu-*-cloudimg-console.log

### compile configurations added by users
/config-*.conf
### but not default (supplied) files
!/config-docker.conf
!/config-vagrant.conf
!/config-armbox.conf
/userpatches/routerbox/vars_override/*.yml

### output directories
/.tmp/
.tmp
/output*/
/cache/
cache

### General annoyances ###
.DS_Store
*~
\#*
.\#*
*.retry

### Armbox
/env.make
99-*.yml
