[Unit]
Description=Hostapd Wifi AP Daemon
Before=multi-user.target shutdown.target
After=networking.service
Requires=networking.service
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/usr/sbin/hostapd -d /etc/hostapd/hostapd.conf

[Install]
WantedBy=multi-user.target
