[Unit]
Description=Set Up Routing
Before=multi-user.target shutdown.target
After=dbus.service networking.service systemd-sysusers.service
Requires=networking.service
Conflicts=shutdown.target

[Service]
Type=oneshot
IgnoreSIGPIPE=no
RemainAfterExit=yes
ExecStart=/usr/local/bin/routing-service start
ExecStop=/usr/local/bin/routing-service stop
ExecReload=/usr/local/bin/routing-service reload

[Install]
WantedBy=multi-user.target
