# CHANGE THIS
root_password: 'EcElchyeib'

authorized_keys:
  - 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDVho9lnXa..... olaf@tackd'
  - 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDWd8tYrRP..... oklischat@Olafs-MacBook-Air.local'

# /24 network in which to assign the LAN IPs.
# must be a /24
lan_prefix: 192.168.100

# IP (host part, under lan_prefix) of this machine.
# Complete IP will be {{lan_prefix}}.{{lan_host}}
lan_host: 1

# name of the (bridge) interface to create to access the LAN
lanif_name: lanif

# if the box contains physical switch interfaces with physical constituent interfaces (ports),
# this can be used to partition them into subgroups (VLANs) and set up a new interface for each group.
# If the box contains no such physical switches, just leave this variable empty.
physical_switch_vlans:
  eth0:
    - ifname: vlan_lan
      vid: 1
      ports:
        - name: lan1
        - name: lan2
        - name: lan3
    - ifname: vlan_mgmt
      vid: 3
      ports:
        - name: lan4
    - ifname: vlan_wan
      vid: 7
      ports:
        - name: wan
          tagged: true

# Which interfaces to combine into which bridge interfaces (software switches),
# with which IPs.
# One of them must be the LAN interface, named {{lanif_name}}, IP {{lan_prefix}}.{{lan_host}}.
bridges:
  - name: "{{lanif_name}}"
    members: [vlan_lan]
    ip: "{{lan_prefix}}.{{lan_host}}"
    ipv6_mtu: 1400  # for IPv6 only (does this really work?)
  - name: mgmt
    members: [vlan_mgmt]
    ip: 192.168.200.1


# WAN interface. The ADSL setup will configure this to be the PPPoE outgoing interface
wan_interface: vlan_wan


# WLAN interface. Will be added to the {{lanif_name}} bridge interface
wlan_interface: wlan1

# local host's name
local_hostname: myrouter

# local domain name
local_domainname: home.mylocal

# WLAN config
wlan_ssid: olafhome2
wlan_country_code: DE
wlan_wpa_passphrase: 'supersecret'


# static DHCP and DNS mappings

dhcp_static_mappings:
  'd0:50:11:22:33:44': '2'
  'a0:0b:aa:bb:cc:dd': '7'
# 'mac': 'ip_hostpart (relative to lan_prefix)'

dns_static_mappings:
  - "{{lan_prefix}}.2   tack"
  - "{{lan_prefix}}.2   tack.{{local_domainname}}"
  - "{{lan_prefix}}.7   phone"
  - "{{lan_prefix}}.7   phone.{{local_domainname}}"

port_mappings:
  - { proto: tcp, port: 2022, destip: "{{lan_prefix}}.2", destport: 22 }
  - { proto: tcp, port: 1194, destip: "{{lan_prefix}}.2", destport: 1194 }


# settings for OpenSSH daemon
sshd_options:
  - ['PasswordAuthentication', 'no']
  - ['PermitRootLogin', 'yes']  # needed by the default make setup-running-machine

# ADSL setup
adsl_user: myuser
adsl_password: mypassword

# DynDNS setup
dyndns_proto: 'freedns'
dyndns_login: 'myuser'
dyndns_password: 'somepassword'
dyndns_hostname: 'myhost.mooo.com'
