#! /bin/bash

# set -e

# Sets up rules for packets originating or ending up on this box, i.e. the OUTPUT and INPUT chains
# TODO maybe it makes more sense to unify this with the routing-service again

execlogged() {
  echo "executing: $@" && "$@"

}

logged_iptables() {
  echo "executing: iptables $@" && /sbin/iptables "$@"
}

clear() {
    $IPTABLES -t filter -F INPUT
    $IPTABLES -t filter -F OUTPUT
    $IPTABLES -t filter -F DROPPED
    $IPTABLES -t filter -X DROPPED
}

#IPTABLES=/sbin/iptables
IPTABLES="execlogged /sbin/iptables"
#IPTABLES=logged_iptables

# See how we were called.
case "$1" in
  start)
        echo "Starting Firewalling"

# TODO move basic INPUT and OUTPUT chain handling to routing-service too
        
# auf diesem Rechner erzeugte Pakete durchlassen,
#  eingehende zunaechst droppen, bis genaue
#  Konfiguration unten programmiert ist
$IPTABLES -t filter -P INPUT DROP
$IPTABLES -t filter -P OUTPUT ACCEPT

clear

### ueber {{outgoing_interface}} eingehende Pakete:

# neue Chain fuer zu droppende Pakete
$IPTABLES -t filter -N DROPPED

# loggen, dann droppen
#modprobe ipt_REJECT
$IPTABLES -t filter -A DROPPED -j LOG
$IPTABLES -t filter -A DROPPED -j REJECT

# ssh durchlassen (mit logging)
# TODO: configurable via Ansible
$IPTABLES -t filter -A INPUT -i {{outgoing_interface}} -p tcp -m tcp --destination-port 22 -j LOG --log-prefix "+++ incoming {{outgoing_interface}}/22/tcp" --log-ip-options --log-tcp-options
$IPTABLES -t filter -A INPUT -i {{outgoing_interface}} -p tcp -m tcp --destination-port 22 -j ACCEPT

# drop other privileged ports
$IPTABLES -t filter -A INPUT -i {{outgoing_interface}} -p tcp --destination-port 0:1024 -j DROPPED

### Rest durchlassen (Default-Policy)

$IPTABLES -t filter -P INPUT ACCEPT


        touch /var/lock/subsys/myfirewall
        ;;


  stop)
        echo -n "Stoppe Firewalling"

        $IPTABLES -t filter -P INPUT ACCEPT
        $IPTABLES -t filter -P OUTPUT ACCEPT
        clear

        echo
        rm -f /var/lock/subsys/myfirewall
        ;;


  status)
        echo '>>> table "filter":'
        $IPTABLES -t filter -vL
        echo '>>> table "nat":'
        $IPTABLES -t nat -vL
        echo '>>> table "mangle":'
        $IPTABLES -t mangle -vL
        ;;
  restart|reload)
        ;;
  *)
        echo "Usage: firewall-service {start|stop|status|restart|reload}"
        exit 1
esac

exit 0
