[Unit]
Description=Set Up firewall
Before=network-online.target multi-user.target shutdown.target
After=dbus.service routing.service systemd-sysusers.service
Requires=routing.service
Conflicts=shutdown.target

[Service]
Type=oneshot
IgnoreSIGPIPE=no
RemainAfterExit=yes
ExecStart=/usr/local/bin/firewall-service start
ExecStop=/usr/local/bin/firewall-service stop
ExecReload=/usr/local/bin/firewall-service reload

[Install]
WantedBy=multi-user.target
