[Unit]
Description=DynDNS IP publishing
Before=multi-user.target shutdown.target
After=network.target
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/publish_ip_continuously

[Install]
WantedBy=multi-user.target